.env

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pkl
**/*.db
**/*.sqlite3
**/*.log
**/*.egg-info/
**/dist/
**/build/
**/node_modules/
**/coverage/
**/.pytest_cache/
**/.mypy_cache/

**/.venv/
.DS_Store
.vscode/